.offers-list {

}

.offers-list > .offer-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px;
}

.offers-list > .offer-item:hover {
  background: rgba(0,0,0,.05);
}
